<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet-AccountInfo</title>
    <link rel="website icon" type="png"  href="images/logofinal.jpg">
    <link rel="stylesheet" href="/sales.css">

</head>

<body>


    <div class="accountinfo">

        <div class="accntcont">

            <div class="accntprofile">

                <img src="/images/seller profile.jpg">
                <p>Manjubashini</p>

            </div>




            <div class="accntdetails">


                <div class="accntdetailsrow">

                    <h4>User Name</h4>
                    <p>Manjubashini</p>

                </div>


                <div class="accntdetailsrow">

                    <h4>From</h4>
                    <p>Theni</p>

                </div>


                <div class="accntdetailsrow">

                    <h4>User Role Verification</h4>
                    <p>Verified</p>

                </div>


                <div class="accntdetailsrow">

                    <h4>Email ID</h4>
                    <p>Manju@123gmail.com</p>

                </div>


                <div class="accntdetailsrow">

                    <h4>Role in AgronomyNet</h4>
                    <p>Farmer</p>

                </div>


            </div>



            <div class="accntbtns">

                <a href="#">Edit Account</a>
                <a href="#">Delete Account</a>

            </div>


        </div>

    </div>
    
    
</body>
</html>