<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - Loan Eligibility Checker</title>
    <link rel="website icon" type="png"  href="/images/logofinal.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/admin.css">
    
    
</head>
<body>
    


    <%- include('./partials/nav.ejs') %>    

    
    <div class="accountinfo">

        <div class="accntcont">

            <div class="accntprofile">

                <img src="/images/seller profile.jpg">
                <p>Manjubashini</p>

            </div>




            <div class="accntdetails">



                <div class="accntdetailsrow">

                    <h4>Full Name</h4>
                    <p>Manjubashini</p>

                </div>


                <div class="accntdetailsrow">

                    <h4>Email</h4>
                    <p>Manju123@gmail.com</p>

                </div>


                <div class="accntdetailsrow">

                    <h4>User Name</h4>
                    <p>Manjubashini</p>

                </div>


                <div class="accntdetailsrow">

                    <h4>Role</h4>
                    <p>Farmer</p>

                </div>


                <div class="accntdetailsrow">

                    <h4>From</h4>
                    <p>Theni</p>

                </div>


                <div class="accntdetailsrow">

                    <h4>Phone Number</h4>
                    <p>6383098765</p>

                </div>

            </div>


            <div class="accntdetailscolumn">

                <h4>Farm Ownership, Horticulture Documentation, or Greenhouse Ownership Documents</h4>
                <img class="certificate-image" src="/images/WhatsApp Image 2023-09-17 at 7.50.21 PM.jpeg">

            </div>


            <div class="certificate-overlay" id="certificate-overlay">

                <img src="/images/WhatsApp Image 2023-09-17 at 7.50.21 PM.jpeg" alt="Certificate Image">
                <div class="certificate-close-button" id="certificate-close-button">X</div>

            </div>



            <div class="accntbtns">

                <a href="#">Approve Account</a>
                <a href="#">Non Approve Account</a>

            </div>


        </div>

        
    </div>


    
    <script src="/script/admin.js"></script>


</body>
</html>