<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/agribot.css">
  <title>Agri-Chatbot</title>
  <link rel="website icon" type="png"  href="images/logofinal.jpg">

</head>

<body>
 
  
  <div class="chat-container">



    <div class="chat-header">

      <img src="/images/chatprofile.jpg">
      <h1>Agri Chatbot</h1>

    </div>

    
    
    <div class="chat-display" id="chat-display">

      <!-- Chat messages will be displayed here -->

    </div>



    <div class="user-input">

      <input type="text" id="user-input" placeholder="Ask your question...">
      <button id="send-btn">Send</button>

    </div>
    


  </div>




  <div class="chat-btn">

    <img src="/images/chatbtnimg.jpg" alt="chat-btn">

  </div>





  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="/script/bot.js"></script>

  <script src="/script/toggle.js"></script>




</body>
</html>