<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - Communication</title>
    <link rel="website icon" type="png"  href="images/logofinal.jpg">
    <link rel="stylesheet" href="/chatpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    

    <div class="chat-container">

        <a href="/account-info" class="profile-section">
            <img src="/images/seller profile.jpg" alt="User Profile" class="profile-pic">
            <h2 style="color: greenyellow;">Manjubashini</h2>
        </a>

 
        <div class="message-area" id="messageArea">
            
            <div class="message user-message">
                
                It appears that your profile and blog posts align with my business plan. Are you open to collaboration in my new venture?

            </div>


            <div class="message sender-message">
                
                Yes, I am indeed willing. Could you kindly share details about your business plan?

            </div>

            <div class="message user-message">
                
                I have a request to supply agricultural products for a wedding. Would it be possible for us to provide our products for the event if you're interested?

            </div>


        </div>




        
        <div class="input-section">

            <input type="text" id="messageInput" class="message-input" placeholder="Type your message...">
            <button onclick="sendMessage()" class="send-button">&#10148;</button>

        </div>



    </div>



    <script src="/script/message.js"></script>


</body>
</html>


