<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - crop yield prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="styleshet" href="/style.css">
   
    <style>

        body{

            background-image: url('/images/about-us img.jpg');
            background-size: cover;
            font-family: Arial, sans-serif;

        }


    </style>


</head>


<body >



    <div class="container mt-5" style="background-color:rgb(0,0,0,0.3);width:650px;height:750px;border-radius:20px;">


        <h1 class="mb-4" style=" text-align:center;color:greenyellow;font-size:30px;"><strong>CROP YIELD PREDICTION</strong></h1>


        <form>



            <div class="mb-3">
                <label for="applicantName" class="form-label" style="color:white"><strong>State:</strong></label>
                <input type="text" class="form-control" style="width:600px;"id="applicantName" placeholder="Select State" required>
            </div>




            <div class="mb-3">
                <label for="cropType" class="form-label"style="color:white"><strong>District:</strong></label>
                <input type="text" class="form-control" style="width:600px;"id="applicantName" placeholder="Select District" required>
                
            </div>




            <div class="mb-3">
                <label for="cropType" class="form-label"style="color:white"><strong>Crop:</strong></label>
                <input type="text" class="form-control" style="width:600px;"id="applicantName" placeholder="Select Crop " required>
                
            </div>



            <div class="mb-3">
                <label for="cropType" class="form-label"style="color:white"><strong>Enter Crop Year :</strong></label>
                <input type="text" class="form-control" style="width:600px;"id="applicantName" placeholder="" required>
                
            </div>



            <div class="mb-3">
                <label for="cropType" class="form-label"style="color:white"><strong>Season:</strong></label>
                <input type="text" class="form-control" style="width:600px;"id="applicantName" placeholder="Select Season" required>
                
            </div>
            
            
            
            <div class="mb-3">
                <label for="cropType" class="form-label"style="color:white"><strong>Enter Area:</strong></label>
                <input type="number" class="form-control" style="width:600px;"id="applicantName" placeholder="" required>
            </div>



            <div class="mb-3">
                <label for="cropType" class="form-label"style="color:white"><strong>Enter Prooduction Value:</strong></label>
                <input type="number" class="form-control" style="width:600px;"id="applicantName" placeholder="" required>
                
            </div>



            
            <button type="submit" class="btn " style="margin-top:10px;background-color:rgb(0,100,0);">Submit</button>


        </form>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>