<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - Details for seller</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/sales.css">
</head>
<body>

    <%- include('./partials/nav.ejs') %>    


    <div class="detailscont">

        <div class="detailsimg">
            <img src="images\tomato.jpg">
        </div>

        <div class="producedetails">

            <h1 style="color: greenyellow;">Fresh Tomato</h1>

            <h1>Produce Information</h1>

            <div class="additionalinfo">

                <div class="infoinrow">
                    <p class="greenlet">Diet Type</p>
                    <p class="userlet">Vegetarian</p>
                </div>

                <div class="infoinrow">
                    <p class="greenlet">Speciality</p>
                    <p class="userlet">Natural</p>
                </div>

                <div class="infoinrow">
                    <p class="greenlet">Manufacture</p>
                    <p class="userlet">Natural</p>
                </div>
    
                <div class="infoinrow">
                    <p class="greenlet">Item From</p>
                    <p class="userlet">Theni</p>
                </div>
    
                <div class="infoinrow">
                    <p class="greenlet">Brand</p>
                    <p class="userlet">Fresh</p>
                </div>
    
                <div class="infoinrow">
                    <p class="greenlet">Item Weight</p>
                    <p class="userlet">700 Grams</p>
                </div>
    
                <div class="infoinrow">
                    <p class="greenlet">Number of Items</p>
                    <p class="userlet">1</p>
                </div>
    
                <hr>
    
    
            </div>
    
            <div class="aboutinfo">
                <h1>About This Item</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos veritatis earum fugit maiores dolorum repudiandae, numquam dolore, 
                    eligendi consectetur doloremque veniam ea consequuntur dolorem id reprehenderit
                    ad magnam. AutemLorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                    veritatis earum fugit maiores dolorum repudiandae, numquam dolore, eligendi 
                    consectetur doloremque veniam ea consequuntur dolorem id reprehenderit ad magnam. 
                    Autem
                </p>
                <hr>
            </div>
    
            <div class="directinfo">
                <h1>Direct Contact with your produce Buyer</h1>
                <div class="userinfo">
                    <img src="images\seller profile.jpg">
                    <p>Manju bashini</p>
                </div>

                <a href="#user-info-container">Details Of Buyer</a>

            </div>
            
        </div>

        

    </div>


    <div class="user-info-container" id="user-info-container">

        <h1>Your Customer Details</h1>

        <div class="user-info-item">
          <div class="user-info-label">User Name</div>
          <div class="user-info-value"><span class="user-answer">Manju Bashini</span></div>
        </div>
    
        <div class="user-info-item">
          <div class="user-info-label">Phone Number</div>
          <div class="user-info-value"><span class="user-answer">1234567890</span></div>
        </div>
    
        <div class="user-info-item">
          <div class="user-info-label">Address</div>
          <div class="user-info-value"><span class="user-answer">G.H. Road, Mirandam Line 1st Street, Theni</span></div>
        </div>
    
        <div class="user-info-item">
          <div class="user-info-label">Landmark nearby Address</div>
          <div class="user-info-value"><span class="user-answer">GH Hospital</span></div>
        </div>
    
        <div class="user-info-item">
          <div class="user-info-label">Quantity of Produce</div>
          <div class="user-info-value"><span class="user-answer">3</span></div>
        </div>
    
        <div class="directinfo">
          <h1>Direct Contact with Buyer</h1>
          <div class="userinfo">
              <img src="images\customer profile.jpg">
              <p>Manju bashini</p>
          </div>
        </div>

    </div>

      

    
</body>
</html>