<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - Details for seller</title>
    <link rel="website icon" type="png"  href="images/logofinal.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/sales.css">
    <link rel="stylesheet" href="/nav.css">

</head>

<body>

    <%- include('./partials/nav.ejs') %>    


    <div class="detailscont">


        <div class="detailsimg">

            <img src="/images\mushroom.jpg">

        </div>


        <div class="producedetails">


            <h1 style="color: greenyellow;">Fresh Mushroom</h1>

            <h1>Produce Information</h1>

            <div class="additionalinfo">

                <div class="infoinrow">

                    <p class="greenlet">Diet Type</p>
                    <p class="userlet">Vegetarian</p>

                </div>


                <div class="infoinrow">

                    <p class="greenlet">Speciality</p>
                    <p class="userlet">Natural</p>

                </div>


                <div class="infoinrow">

                    <p class="greenlet">Manufacture</p>
                    <p class="userlet">Natural</p>


                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Item From</p>
                    <p class="userlet">Theni</p>

                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Brand</p>
                    <p class="userlet">Fresh</p>

                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Item Weight</p>
                    <p class="userlet">700 Grams</p>


                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Number of Items</p>
                    <p class="userlet">3</p>

                </div>

    
                <hr>
    
    
            </div>



    
            <div class="aboutinfo">

                <h1>About This Item</h1>

                <p>

                    Embark on a journey through the earthy enchantment of our handpicked mushrooms, 
                    a treasure trove of natural umami that we're thrilled to deliver from our farm to 
                    your kitchen. With each tender bite, you're invited to experience the rich, robust 
                    flavors that only the finest mushrooms can provide. Cultivated with care and harvested
                    at the pinnacle of their freshness, these mushrooms are a versatile ingredient, elevating
                    everything from hearty pastas to savory omelettes. Let your culinary creations dance with
                    the deep, savory notes of our mushrooms,
                    and let your taste buds revel in the magic of gastronomic artistry. 

                </p>

                <hr>

            </div>


    
            <div class="directinfo">

                <h1>Direct Contact with your produce Buyer</h1>

                <div class="userinfo">

                    <img src="/images\seller profile.jpg">
                    <p>Amir</p>

                </div>

                <a href="#user-info-container">Details Of Buyer</a>

            </div>

            
        </div>

        

    </div>


    <div class="user-info-container" id="user-info-container">

        <h1 style="color:rgb(0,100,0);">Customer Details</h1>

        <div class="black">


            <div class="user-info-item">

                <div class="user-info-label">User Name</div>
                <div class="user-info-value"><span class="user-answer">Amir</span></div>
      
            </div>
      
      
          
            <div class="user-info-item">
      
                <div class="user-info-label">Phone Number</div>
                <div class="user-info-value"><span class="user-answer">1234567890</span></div>
      
            </div>
      
      
          
            <div class="user-info-item">
      
                <div class="user-info-label">Address</div>
                <div class="user-info-value"><span class="user-answer">G.H. Road, Mirandam Line 1st Street, Theni</span></div>
      
            </div>
      
      
          
            <div class="user-info-item">
      
                <div class="user-info-label">Landmark nearby Address</div>
                <div class="user-info-value"><span class="user-answer">GH Hospital</span></div>
      
            </div>
      
      
          
            <div class="user-info-item">
      
                <div class="user-info-label">Quantity of Produce</div>
                <div class="user-info-value"><span class="user-answer">3</span></div>
      
            </div>



            <div class="directinfo1">
          
                <h1>Direct Contact with Buyer</h1>
          
                <a href="/chatpage2" style="text-decoration: none; color: #fff;">
                    <div class="userinfo1">
                        <img src="/images/seller profile.jpg">
                        <p>Manjubashini</p>
                    </div>
                </a>
          
              </div>
      
      


        </div>

        

    </div>

      

    
</body>
</html>