<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet-Produce details</title>
    <link rel="website icon" type="png"  href="/images/logofinal.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/sales.css">
    <link rel="stylesheet" href="/nav.css">

</head>

<body>

    <%- include('./partials/nav.ejs') %>    

    
    <div class="detailscont">

        <div class="detailsimg">

            <img src="/images\tomato.jpg">

        </div>



        <div class="producedetails">

            <h1 style="color: greenyellow;">Fresh Tomato</h1>

            <h1>Produce Information</h1>

            <div class="additionalinfo">

                <div class="infoinrow">

                    <p class="greenlet">Diet Type</p>
                    <p class="userlet">Vegetarian</p>

                </div>


                <div class="infoinrow">

                    <p class="greenlet">Speciality</p>
                    <p class="userlet">Natural</p>

                </div>


                <div class="infoinrow">

                    <p class="greenlet">Manufacture</p>
                    <p class="userlet">Natural</p>

                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Item From</p>
                    <p class="userlet">Theni</p>

                </div>
    


                <div class="infoinrow">

                    <p class="greenlet">Brand</p>
                    <p class="userlet">Fresh</p>

                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Item Weight</p>
                    <p class="userlet">700 Grams</p>

                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Number of Items</p>
                    <p class="userlet">1</p>

                </div>

    
                <hr>
    
    
            </div>


    
            <div class="aboutinfo">

                <h1>About This Item</h1>

                <p>

                    Discover the vibrant world of our sun-ripened tomatoes, nature's own
                    burst of color and taste, now available for you to enjoy without leaving your home.
                    From salads that pop with freshness to sauces that sing with flavor, our tomatoes 
                    are the essence of culinary delight, carefully cultivated and plucked at the peak of 
                    perfection. With every juicy bite, you're invited to savor the essence of our sustainable
                    fields and passion for quality. Add a touch of wholesome goodness to your dishes and let
                    the versatility of our tomatoes paint your meals with deliciousness.

                </p>

                <button style="background-color:rgb(0,100,0); font-weight:bolder; font-size:large;" type="submit" id="submitBtn">Cancel Order</buton>

                    <div class="overlay" id="overlay">

                        <div class="message-box">
                            <p>Your order is cancel !!</p>
                        </div>
            
                        <span class="close-btn" id="closeBtn">X</span>
                    </div>

            </div>

    
        </div>


        
   
        <script src="/script/overlay.js"></script>

    </body>

  

    
</html>