<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - sellers sales History</title>
    <link rel="website icon" type="png"  href="images/logofinal.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/sales.css">
    <link rel="stylesheet" href="/nav.css">

</head>

<body>

    <%- include('./partials/nav.ejs') %>   


    <div class="detailscont">

        <div class="detailsimg">

            <img src="/images\tomato.jpg">

        </div>


        <div class="producedetails">


            <h1 style="color: greenyellow;">Fresh Tomato</h1>

            <h1>Produce Information</h1>

            <div class="additionalinfo">

                <div class="infoinrow">

                    <p class="greenlet">Diet Type</p>
                    <p class="userlet">Vegetarian</p>

                </div>



                <div class="infoinrow">

                    <p class="greenlet">Speciality</p>
                    <p class="userlet">Natural</p>

                </div>



                <div class="infoinrow">

                    <p class="greenlet">Manufacture</p>
                    <p class="userlet">Natural</p>

                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Item From</p>
                    <p class="userlet">Theni</p>

                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Brand</p>
                    <p class="userlet">Fresh</p>

                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Item Weight</p>
                    <p class="userlet">700 Grams</p>

                </div>


    
                <div class="infoinrow">

                    <p class="greenlet">Number of Items</p>
                    <p class="userlet">1</p>


                </div>
    

                <hr>
    
    
            </div>


    
            <div class="aboutinfo">

                <h1>About This Item</h1>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos veritatis earum fugit maiores dolorum repudiandae, numquam dolore, 
                    eligendi consectetur doloremque veniam ea consequuntur dolorem id reprehenderit
                    ad magnam. AutemLorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                    veritatis earum fugit maiores dolorum repudiandae, numquam dolore, eligendi 
                    consectetur doloremque veniam ea consequuntur dolorem id reprehenderit ad magnam. 
                    Autem
                </p>

            </div>

    
        </div>

        
    </body>
</html>
