<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmHub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/sales.css">
    <link rel="stylesheet" href="/nav.css">


</head>
<body>


    <div class="salesbg">

        <%- include('./partials/nav.ejs') %>    


        <div class="salescont">

            <h1 class="anim">Welcome to Green Market!</h1>
            <p class="anim">
                you can sell your own green produce, including horticulture, greenhouse, and
                farm produce. Set your own rates and connect with buyers 
                who appreciate the freshness and quality of your offerings.
            </p>

            <form action="#" class="saleinput anim" method="GET">
                <input type="search" placeholder="Search your produce">
                <button type="submit">Search</button>
            </form>

        </div>

        <img src="images/asbg.jpg" class="salebg2 anim">

    </div>


    <div>

        <h1 class="greenmarketh1">Green Market Features</h1>



        <div class="container-row">
        
        
            <div class="container">
        
                <div class="icon">
                <i class="fas fa-shopping-bag"></i>
                </div>
        
                <h2>Shopping Produces</h2>
        
                <p>Explore a wide range of fresh produces available for purchase on FarmHub Marketplace. Buy directly from farmers and support local agriculture.</p>
                <a href="shopping-produces.html" class="button">Shop Now</a>
        
            </div>
        
        
            <div class="container">
        
                <div class="icon">
                <i class="fas fa-history"></i>
                </div>
        
                <h2>Customer Shopping History</h2>
        
                <p>View your past shopping activities on FarmHub Marketplace. Keep track of your purchases and easily reorder your favorite produces.</p>
                <a href="customer-shopping-history.html" class="button">View History</a>
        
            </div>
        
        
            
            <div class="container">

                <div class="icon">
                    <i class="fas fa-tractor agriculture-icon"></i>
                </div>
        
                <h2>New Sale</h2>
        
                <p> 
                    Join FarmHub to create and post your sale produce. 
                    Sell any farm, horticulture, or greenhouse produce at your fair rate. 
                    Start selling now!
                </p>
                <a href="newsale.html" class="button">Create New Sale</a>
        
            </div>

        </div>
        
        
        <div class="container-row">

            <div class="container">
        
                <div class="icon">
                <i class="fas fa-list"></i>
                </div>
        
                <h2>Seller's Orders History</h2>
        
                <p>Manage your past orders on FarmHub Marketplace. Review customer details and ensure timely deliveries.</p>
                <a href="salers-orders-history.html" class="button">View Orders</a>
        
            </div>
        
        
            <div class="container">

                <div class="icon">
                  <i class="fas fa-chart-line"></i>
                </div>

                <h2>Seller's Sales History</h2>

                <p>Track your sales history on FarmHub Marketplace. Monitor your performance and analyze trends to boost your business.</p>
                <a href="salers-sales-history.html" class="button">View Sales</a>

            </div>
        
        
            <div class="container">
        
                <div class="icon">
                    <i class="fas fa-comments"></i>
                </div>
        
                <h2>Direct Contact</h2>
                <p>Contact the seller or user directly to inquire about produces or discuss transactions.</p>
                <a href="contact-saler-user.html" class="button">Explore</a>
        
            </div>
        
        </div>


        <div class="container-row">

            <div class="container">
        
                <div class="icon">
                <i class="fas fa-user-circle"></i>
                </div>
        
                <h2>Account Info</h2>
        
                <p>Manage your FarmHub account settings. Update your profile, change password, and view account details.</p>
                <a href="account-info.html" class="button">Account Settings</a>
        
            </div>

        </div>

       



    </div>



    <div class="unique-heading">
        Discover and Purchase AgronomyNet Products Directly from Sellers
    </div>


      <div class="productbox">

          
                <div class="produce">

                    <div class="userinfo">
                        <img src="images\about-us fruit img.jpg">
                        <p>Manjubashini J</p>
                    </div>

                    <div class="productinfo">
                        <img src="images\about-us fruit img.jpg">
                        <h1>Apple</h1>
                        <p>200</p>
                        <a href="/get-details-from-user">Details</a>
                    </div>
                    
                </div>

      </div>
      

    
    

</body>
</html>
