<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/nav.css">
</head>
<body>

    <%- include('./partials/nav.ejs') %>    

    <section class="body2">


            <div class="img-slider">


                <div class="slide active">
        
                    <img src="images/fh-h5.jpeg" alt="homeimg">
        
                    <div class="info">
                        <h2>Welcome to Our AgronomyNet!</h2>
                        <p>
                            This platform is dedicated to empowering and connecting agricultural enthusiasts. 
                            Discover valuable resources,
                            connect with like-minded individuals, and contribute to making the world greener.
                        </p>
                    </div>
        
                </div>
        
        
        
                <div class="slide">
                    
                    <img src="images/fh-h1.jpg" alt="homeimg">
        
                    <div class="info">
                        <h2>About AgronomyNet</h2>
                        <p>
                            AgriHub is a revolutionary online platform designed to foster knowledge sharing, 
                            community building, and sustainable agriculture. Our mission is to provide a space where farmers,
                            experts, and agri enthusiasts can come together, exchange ideas,
                            and drive positive change in the agricultural industry.
                        </p>
                    </div>
        
                </div>
        
        
        
        
                <div class="slide">
                    
                    <img src="images/fh-h2.jpg" alt="homeimg">
        
                    <div class="info">
                        <h2>Connect with the Agri Community!</h2>
                        <p>
                            Join our vibrant community of farmers, experts, and enthusiasts. Engage in discussions, 
                            share your knowledge, and find potential business partners.
                        </p>
                    </div>
        
                </div>
        
        
        
                <div class="slide">
                    
                    <img src="images/chathimg.jpg" alt="homeimg">
        
                    <div class="info">
                        <h2>Agri Insights at Your Fingertips</h2>
                        <p>
                            Get instant answers to your agri questions from our interactive chatbot.
                            Explore a wide range of agricultural topics and stay
                            informed on the latest trends and techniques.
                        </p>
                    </div>
        
                </div>
        
        
        
        
                <div class="slide">
                    
                    <img src="images/wmd.jpg" alt="homeimg">
        
                    <div class="info">
                        <h2>Informed Decisions for Success</h2>
                        <p>
                            Stay updated with real-time market prices and weather forecasts. Make informed decisions for your 
                            agricultural ventures and optimize your productivity and profitability.
                        </p>
                    </div>
        
                </div>
        
        
                <div class="slide">
                    
                    <img src="images/sfhm.jpg" alt="homeimg">
        
                    <div class="info">
                        <h2>Sell Your Produce Directly</h2>
                        <p>
                            Take control of your sales by showcasing and selling your quality produce.
                            Connect with both urban and rural consumers, 
                            and contribute to the growth of sustainable agriculture.
                        </p>
                    </div>
        
                </div>
        
        
                <div class="navigation">
                    <div class="btn active"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                    <div class="btn"></div>
                </div>
        
        
            </div>

    </section>




    <div class="parent-div">

        <section id="mission">
            <div class="icon-container">
                <i class="fas fa-rocket"></i>
            </div>
            <div class="text-container">
              <h2>Mission</h2>
              <p>To empower farmers, promote sustainable practices, and foster agricultural innovation through our platform.
                We aim to connect and support a thriving agri community.</p>
            </div>
        </section>
        <section id="vision">
            <div class="icon-container">
                <i class="fas fa-eye"></i>
            </div>
            <div class="text-container">
              <h2>Vision</h2>
              <p> To create a global network where agricultural knowledge and resources are easily accessible, 
                enabling a greener future and ensuring food security for generations to come.</p>
            </div>
        </section>
        <section id="goal">
            <div class="icon-container">
                <i class="fas fa-bullseye"></i>
            </div>
            <div class="text-container">
              <h2>Goal</h2>
              <p> Our goal is to be the leading online hub for agricultural enthusiasts,
                providing a seamless experience for knowledge sharing, community building, 
                and promoting sustainable agriculture worldwide.</p>
            </div>
          </section>

    </div>

    



    <div>
        
        <h1 class="centre-fea">Features</h1>


        <section class="body">

            <div class="container"> 


                <div class="card" style="--clr: #009688">
                    <div class="img-box">
                        <img
                            src="images/community.jpg">
                    </div>
                    <div class="content">
                        <h2>Join the Agri Community!</h2>
                        <p>
                            Connect, share, learn, and collaborate with fellow farmers and agri enthusiasts.
                            Grow your network, exchange 
                            knowledge, and find potential business partners.
                        </p>
                        <a href="">Explore</a>
                    </div>
                </div>



                <div class="card" style="--clr: #009688">
                    <div class="img-box">
                        <img
                            src="images/chatbot.png">
                    </div>
                    <div class="content">
                        <h2>Ask Anything, Anytime!</h2>
                        <p>
                            Get quick answers to your agri queries with our interactive chatbot.
                            Explore various agri topics and receive information at your fingertips.
                        </p>
                        <a href="">Explore</a>
                    </div>
                </div>



                <div class="card" style="--clr: #009688">
                    <div class="img-box">
                        <img
                            src="images/wmd.jpg">
                    </div>
                    <div class="content">
                        <h2>Market & Weather Updates</h2>
                        <p>
                            Get real-time market prices and weather updates for informed decisions. 
                            Stay updated on market trends and local weather
                            conditions to optimize your operations.
                        </p>
                        <a href="">Explore</a>
                    </div>
                </div>


                <div class="card" style="--clr: #009688">
                    <div class="img-box">
                        <img
                            src="images/sale.jpg">
                    </div>
                    <div class="content">
                        <h2>Sell Your Harvest, Your Way!</h2>
                        <p>
                            Farmers, horticulturists, and greenhouse owners can sell locally. 
                            Set prices. Reach urban and rural consumers. Grow agri sales.
                        </p>
                        <a href="">Explore</a>
                    </div>
                </div>




            </div>



        </section>

    </div>


      

    <script>

        var slides = document.querySelectorAll('.slide');
        var btns = document.querySelectorAll('.btn');
        let currentSlide = 1;


        var manualNav = function(manual){
            slides.forEach((slide) => {
                slide.classList.remove('active');

                btns.forEach((btn) => {
                    btn.classList.remove('active');
                });
            });


            slides[manual].classList.add('active');
            btns[manual].classList.add('active');
        }

        btns.forEach((btn,i) => {
            btn.addEventListener("click", () => {
                manualNav(i);
                currentSlide(i);
            });
        });


        var repeat = function(activeClass){
            let active = document.getElementsByClassName('active');
            let i=1;

            var repeater = () =>{
                setTimeout(function(){
                    [...active].forEach((activeSlide) => {
                        activeSlide.classList.remove('active');
                    });

                    slides[i].classList.add('active');
                    btns[i].classList.add('active');
                    i++;

                    if(slides.length == i){
                        i=0;
                    }
                    if(i >= slides.length){
                        return;
                    }
                    repeater();

                },5000);
            }
            repeater();
        }
        repeat();

    </script>



</body>
</html>