<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - Home</title>
    <link rel="website icon" type="png"  href="/images/logofinal.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/nav.css">

</head>

<body>

    <%- include('./partials/nav.ejs') %>    


    <section class="body2">


        <div class="img-slider">


            <div class="slide active">
        
                <img src="/images/fh-h5.jpeg" alt="homeimg">

        
                <div class="info">

                    <h2>Welcome to Our AgronomyNet!</h2>
                    <p>
                        Agronomy Net is a comprehensive platform for farmers, horticulturists, greenhouse owners, and crop producers. It offers solutions to improve agricultural efficiency and profitability while building a strong community.
                    </p>


                </div>

        
            </div>


        
        
        
                
            <div class="slide">
                    
                    
                <img src="/images/fh-h1.jpg" alt="homeimg">
        
                    
                <div class="info">
                        
                    <h2>About AgronomyNet</h2>
                        
                    <p>
                            
                        AgriHub is a revolutionary online platform designed to foster knowledge sharing, 
                        community building, and sustainable agriculture. Our mission is to provide a space where farmers,
                        experts, and agri enthusiasts can come together, exchange ideas,
                        and drive positive change in the agricultural industry.

                    </p>


                </div>
        
            </div>
        
        

        
        
            <div class="slide">
                    
                <img src="/images/fh-h2.jpg" alt="homeimg">
        
                <div class="info">

                    <h2>Agronomy Net: Cultivating Knowledge, Growth, and Partnerships</h2>
                    <p>
                        Foster agricultural growth and collaboration with expert-led discussions, interactive forums, and knowledge sharing. Connect with potential partners and resolve queries on Agronomy Net.
                    </p>
                </div>

        
            </div>


        
        
        
            <div class="slide">
                    
                <img src="/images/chathimg.jpg" alt="homeimg">
        
                <div class="info">

                    <h2>Agribot: Your Agricultural Knowledge Partner</h2>
                    <p>
                        Agribot empowers users with instant access to a vast agricultural knowledge repository. It enhances productivity, fosters community knowledge sharing, and serves as an accessible learning tool for all.
                    </p>

                </div>
        
            </div>

        
        
        
        
            <div class="slide">
                    
                <img src="/images/wmd.jpg" alt="homeimg">
        
                <div class="info">

                    <h2>AgriMarket Insights: Fresh News & Articles</h2>
                        
                    <p>
                        Stay informed with the latest agriculture news, marketing trends, and insightful articles all in one place. Empowering your decisions in farming and marketing.
                    </p>

                </div>
        
            </div>
        


        
            <div class="slide">
                    
                <img src="/images/sfhm.jpg" alt="homeimg">
        
                <div class="info">

                    <h2>Empowering Producers: Direct Selling Benefits</h2>
                    <p>
                        Direct Selling empowers producers by eliminating intermediaries, ensuring fair rates, expanding market reach, and granting greater control over products and branding.
                    </p>

                </div>
        
            </div>




            <div class="slide">
                    
                <img src="/images/schemeservice.jpg" alt="homeimg">
        
                <div class="info">

                    <h2>Agronomy Net's Loan Eligibility Checker</h2>
                    <p>
                        Our Loan Eligibility Checker assesses risk, supports informed decisions, and increases financial accessibility for aspiring entrepreneurs. It verifies loan application guidelines, provides eligibility status clarity, and offers guidance for successful loan applications.
                    </p>

                </div>
        
            </div>





            <div class="slide">
                    
                <img src="/images/loan home 5.jpg" alt="homeimg">
        
                <div class="info">

                    <h2>Crop Health Assessment & Optimization</h2>
                    <p>
                        Our comprehensive solution includes crop-specific forecasting, pesticide testing, and disease identification, ensuring both the quantity and quality of crop production.
                    </p>

                </div>
        
            </div>





            <div class="slide">
                    
                <img src="/images/agri.jpg" alt="homeimg">
        
                <div class="info">

                    <h2>All India Agriculture Schemes</h2>
                    <p>
                        Find agriculture-related information by searching on Wikipedia's homepage or using a search engine. Explore relevant categories and external links within Wikipedia articles for comprehensive details on specific schemes and policies.
                    </p>

                </div>
        
            </div>


        
        
            <div class="navigation">

                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>

            </div>
        
        
            </div>

    </section>




    <div class="parent-div">

        <section id="mission">

            <div class="icon-container">

                <i class="fas fa-rocket"></i>
            </div>


            <div class="text-container">

              <h2>Mission</h2>
              <p>To empower farmers, promote sustainable practices, and foster agricultural innovation through our platform.
                We aim to connect and support a thriving agri community.</p>


            </div>


        </section>




        <section id="vision">


            <div class="icon-container">

                <i class="fas fa-eye"></i>

            </div>


            <div class="text-container">

              <h2>Vision</h2>
              <p> To create a global network where agricultural knowledge and resources are easily accessible, 
                enabling a greener future and ensuring food security for generations to come.</p>

            </div>


        </section>




        <section id="goal">


            <div class="icon-container">

                <i class="fas fa-bullseye"></i>

            </div>


            <div class="text-container">

              <h2>Goal</h2>
              <p> Our goal is to be the leading online hub for agricultural enthusiasts,
                providing a seamless experience for knowledge sharing, community building, 
                and promoting sustainable agriculture worldwide.</p>


            </div>


        </section>



    </div>

    



    <div>
        
        <div class="aim">
            <h1>Our Services</h1>
        </div>


        <section class="body">

            <div class="container"> 


                <div class="card" style="--clr: #009688">


                    <div class="img-box">

                        <img src="/images/community.jpg">

                    </div>


                    <div class="content">

                        <h2>Join the Agri Community!</h2>
                        <p>
                            Connect, share, learn, and collaborate with fellow farmers and agri enthusiasts.
                            Grow your network, exchange 
                            knowledge, and find potential business partners.
                        </p>


                        <a href="/blogs/index">Explore</a>

                    </div>

                </div>




                <div class="card" style="--clr: #009688">

                    <div class="img-box">

                        <img src="/images/chatbot.png">

                    </div>


                    <div class="content">

                        <h2>Ask Anything, Anytime!</h2>
                        <p>
                            Get quick answers to your agri queries with our interactive chatbot.
                            Explore various agri topics and receive information at your fingertips.
                        </p>

                        <a href="/agribot">Explore</a>


                    </div>


                </div>



                <div class="card" style="--clr: #009688">


                    <div class="img-box">

                        <img src="/images/wmd.jpg">

                    </div>


                    <div class="content">


                        <h2>AgriMarket Insights: Fresh News & Articles</h2>
                        <p>
                            Stay informed with the latest agriculture news, marketing trends, and insightful articles all in one place. 
                            Empowering your decisions in farming and marketing
                        </p>

                        <a href="/agrinews/index">Explore</a>

                    </div>

                </div>




                <div class="card" style="--clr: #009688">


                    <div class="img-box">

                        <img src="/images/sale.jpg">

                    </div>


                    <div class="content">

                        <h2>Sell Your Harvest, Your Way!</h2>
                        <p>
                            Farmers, horticulturists, and greenhouse owners can sell locally. 
                            Set prices. Reach urban and rural consumers. Grow agri sales.
                        </p>

                        <a href="/greenmarket">Explore</a>

                    </div>

                </div>




                <div class="card" style="--clr: #009688">


                    <div class="img-box">

                        <img src="images/loan prediction.jpg">

                    </div>


                    <div class="content">

                        <h2>Agriculture Loan Eligibility Checker</h2>
                        <p>
                            Check Your Eligibility for an Agriculture Loan! Explore eligibility guidelines,
                            criteria, and application details.
                        </p>

                        <a href="/loan">Explore</a>

                    </div>

                </div>





                <div class="card" style="--clr: #009688">


                    <div class="img-box">

                        <img src="images/crop yield.jpg">

                    </div>


                    <div class="content">

                        <h2>Crop Health and Yield Assessment</h2>
                        <p>
                            you can assess crop yield percentages and identify potential pest and disease issues affecting your crops. 
                            Optimize agricultural practices for maximum productivity.
                        </p>

                        <a href="/crop">Explore</a>

                    </div>

                </div>




                <div class="card" style="--clr: #009688">


                    <div class="img-box">

                        <img src="images/schemeservice.jpg">

                    </div>


                    <div class="content">

                        <h2>Agriculture scheme</h2>
                        <p>
                            Gain Comprehensive Information on India's Agricultural Schemes and Valuable 
                            Insights for Your Business or Cost Requirements. 
                            Stay Informed About All Available Agricultural Schemes in India.
                        </p>

                        <a href="/schemes">Explore</a>

                    </div>

                </div>



                
                




            </div>



        </section>

    </div>


      

    <script>

        var slides = document.querySelectorAll('.slide');
        var btns = document.querySelectorAll('.btn');
        let currentSlide = 1;


        var manualNav = function(manual){
            slides.forEach((slide) => {
                slide.classList.remove('active');

                btns.forEach((btn) => {
                    btn.classList.remove('active');
                });
            });


            slides[manual].classList.add('active');
            btns[manual].classList.add('active');
        }

        btns.forEach((btn,i) => {
            btn.addEventListener("click", () => {
                manualNav(i);
                currentSlide(i);
            });
        });


        var repeat = function(activeClass){
            let active = document.getElementsByClassName('active');
            let i=1;

            var repeater = () =>{
                setTimeout(function(){
                    [...active].forEach((activeSlide) => {
                        activeSlide.classList.remove('active');
                    });

                    slides[i].classList.add('active');
                    btns[i].classList.add('active');
                    i++;

                    if(slides.length == i){
                        i=0;
                    }
                    if(i >= slides.length){
                        return;
                    }
                    repeater();

                },5000);
            }
            repeater();
        }
        repeat();

    </script>



    <script>

        const notificationIcon = document.getElementById('notification-icon');
        const notificationContainer = document.getElementById('notification-container');

        notificationIcon.addEventListener('click', () => {
            notificationContainer.style.display = 'block';
        });

        function closeNotification() {
            notificationContainer.style.display = 'none';
        }


    </script>



</body>
</html>