<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - Loan Eligibility Checker</title>
    <link rel="website icon" type="png"  href="/images/logofinal.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/loan.css">


</head>


<body>

    <%- include('./partials/nav.ejs') %>    

    

    <div class="container">

        <h1>Agriculture Loan Eligibility Checker</h1>

        <form id="loanForm">


            <div class="column">


                <label for="loanPurpose">Loan Purpose</label>
                <select id="loanPurpose" name="loanPurpose">
                    <option value="seedsAndFertilizers">Purchase of Seeds and Fertilizers</option>
                    <option value="machinery">Investment in Machinery or Farming Equipment</option>
                    <option value="expansion">Expansion of Farming Activities</option>
                </select>


                <label for="loanType">Type of Loan</label>
                <select id="loanType" name="loanType">
                    <option value="cropLoan">Crop Loan</option>
                    <option value="mechanizationLoan">Farm Mechanization Loan</option>
                    <option value="termLoan">Term Loan</option>
                </select>



                <label for="lender">Lender</label>
                <select id="lender" name="lender">
                    <option value="publicSectorBank">Public Sector Bank</option>
                    <option value="privateBank">Private Bank</option>
                    <option value="cooperativeBank">Cooperative Bank</option>
                </select>



                <label for="income">Income (per year in INR)</label>
                <input type="number" id="income" name="income" required>

                
                <label for="farmingExperience">Farming Experience (in years)</label>
                <input type="number" id="farmingExperience" name="farmingExperience" required>
                
            

            </div>



            <div class="column">

            

                <label for="creditScore">Credit Score:</label>
                <select id="creditScore" name="creditScore" required>
                    <option value="">Select Credit Score Range</option>
                    <option value="800-850">Excellent: 800-850</option>
                    <option value="740-799">Very Good: 740-799</option>
                    <option value="670-739">Good: 670-739</option>
                    <option value="580-669">Fair: 580-669</option>
                    <option value="300-579">Poor: 300-579</option>
                </select>



                <label for="loanAmount">Loan Amount (in INR)</label>
                <input type="number" id="loanAmount" name="loanAmount" required>



                <label for="loanTerm">Loan Term (in months)</label>
                <input type="number" id="loanTerm" name="loanTerm" required>



                <label for="age">Age</label>
                <input type="number" id="age" name="age" required>
                


                <label for="Gender">Gender</label>
                <select id="Gender" name="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Transgender">Transgender</option>
                </select>


            </div>

            

            <button type="submit">Check Eligibility</button>


        </form>
        

        <div id="result"></div>

    </div>






    <div class="containers">


        <div class="section">


            <div class="section-title">Agriculture Loan Guidance</div><br>


            <div class="section-content">
                
               <strong>Understand Your Loan Purpose</strong>
                <ul>Determine the specific purpose of your agricultural loan, whether it's for purchasing seeds and fertilizers, investing in machinery, or expanding farming activities.</ul>


                <strong>Select the Right Loan Type</strong>
                <ul>Choose the type of agriculture loan that aligns with your needs. Common types include crop loans, farm mechanization loans, and term loans.</ul>


                <strong>Choose the Lender</strong>
                <ul>Explore different lenders such as public sector banks, private banks, and cooperative banks. Compare interest rates, terms, and conditions to select the most suitable one.</ul>


                <strong>Assess Your Financial Situation</strong>
                <ul>Calculate your income, expenses, and cash flow to determine your repayment capacity. Lenders will evaluate your financial stability when considering your loan application.</ul>


                <strong>Prepare Documentation</strong>
                <ul>Gather essential documents like proof of land ownership, income proof, and identification. Ensure that all required documentation is in order.</ul>


                <strong>Credit Score Check</strong>
                <ul>Check your credit score, as it plays a crucial role in loan approval. A good credit score can improve your chances of securing the loan.</ul>


                <strong>Farming Experience</strong>
                <ul>Highlight your farming experience, as lenders often prefer borrowers with prior experience in agriculture.</ul>
 

            </div>


        </div>






        <div class="section">


            <div class="section-title">Agriculture Loan Criteria</div><br>


            <div class="section-content">


                <strong>Eligibility Criteria</strong>
                <ul>Borrowers typically need to be at least 18 years old to qualify for an agricultural loan.</ul>


                <strong>Credit Score</strong>
                <ul>A satisfactory credit score is necessary for loan approval. A higher credit score indicates lower credit risk.</ul>



                <strong>Land Ownership</strong>
                <ul>Proof of land ownership or a lease arrangement with the landowner is required for eligibility.</ul>



                <strong>Income</strong>
                <ul>Your income will be considered by lenders when determining your ability to repay the loan. A higher income often leads to better loan terms.</ul>


            </div>

        </div>





        <div class="section">


            <div class="section-title">How to Apply for an Agriculture Loan</div><br>


            <div class="section-content">



                
                <strong>Choose Your Loan Purpose</strong>
                <ul>Clearly define the purpose of your loan, whether it's for purchasing agricultural inputs, machinery, or expanding your farming activities.</ul>




                <strong>Select the Loan Type</strong>
                <ul>Based on your purpose, choose the appropriate loan type, such as crop loans, farm mechanization loans, or term loans.</ul>




                <strong>Pick a Lender</strong>
                <ul>Research and compare different lenders to find the one offering the best terms and interest rates for your agricultural loan.</ul>




                <strong>Prepare Documentation</strong>
                <ul>Collect and organize all required documents, including proof of land ownership, income documents, identification, and any other paperwork requested by the lender.</ul>




                <strong>Submit the Application</strong>
                <ul>Visit the chosen lender's branch or apply online through their website. Fill out the loan application form and submit it along with the necessary document</ul>



                <strong>Verification and Evaluation</strong>
                <ul>The lender will review your application and documents, conduct credit checks, and assess your eligibility based on their criteria.</ul>




                <strong>Loan Approval</strong>
                <ul>Once your application is approved, the lender will provide you with the loan terms and conditions, including the interest rate, repayment schedule, and loan amount.</ul>




                <strong>Acceptance and Disbursement</strong>
                <ul>If you agree to the terms, sign the loan agreement, and the funds will be disbursed to your account or as specified in the agreement.</ul>




                <strong>Repayment</strong>
                <ul>Make timely repayments according to the agreed schedule. Failure to do so can result in penalties and affect your credit score.</ul>



                <strong>Monitoring and Support</strong>
                <ul>Stay in touch with your lender, and if you encounter any issues, seek assistance or guidance to ensure a smooth loan repayment process.</ul>


                    
            </div>

        </div>

    </div>




    <script src="/script/loan.js"></script>



</body>
</html>