<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FarmHub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/sales.css">
    <link rel="stylesheet" href="/nav.css">

</head>
<body>
    

    <%- include('./partials/nav.ejs') %>    



    <div class="agriculture-card-container">

        <div class="agriculture-card">
          
          <i class="fas fa-shopping-basket"></i>
          <h2> Explore and Manage Your Sales</h2>
          <p>
            In the Farm Hub Marketplace, you can easily view and manage the produces you have for sale. Keep track of your sales and 
            access detailed information about each item, ensuring a seamless selling experience.
          </p>
    
        </div>
    
    </div>



    <div class="productbox">

        <div class="produce">
 
             <div class="userinfo">
                 <img src="images/cat1.jpg">
                 <p>Manju bashini</p>
             </div>
 
             <div class="productinfo">
                 <img src="images/cat2.jpg">
                 <h1>tomato</h4>
                 <p>Rs.100</p>
                 <a href="detsils-for-salers-sales-history.html">Details</a>
             </div>
 
        </div>
 
     </div>


</body>
</html>