<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - sellers sales History</title>
    <link rel="website icon" type="png"  href="images/logofinal.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/sales.css">
    <link rel="stylesheet" href="/nav.css">

</head>
<body>
    

    <%- include('./partials/nav.ejs') %>    



    <div class="agriculture-card-container">


        <div class="agriculture-card">
        
            
          <i class="fas fa-shopping-basket"></i>
          <h2> Explore and Manage Your Sales</h2>
          <p>
            In the AgronomyNet Marketplace, you can easily view and manage the produces you have for sale. Keep track of your sales and 
            access detailed information about each item, ensuring a seamless selling experience.
          </p>
    

        </div>
    

    </div>




    <div class="productbox">


        <div class="produce">
 
            <div class="userinfo">
                 <img src="/images/customer profile.jpg">
                 <p>Joshap</p>
            </div>
 
            <div class="productinfo">
                 <img src="/images/tomato.jpg">
                 <h1>tomato</h4>
                 <p>Rs.100</p>
                 <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                 <a href="/detsils-for-salers-sales-history">Details</a>
            </div>
 
        </div>
 


        <div class="produce">
 
            <div class="userinfo">
                 <img src="/images/customer profile.jpg">
                 <p>Joshap</p>
            </div>
 

            <div class="productinfo">
                 <img src="/images/rose.jpg">
                 <h1>Rose</h4>
                 <p>Rs.59</p>
                 <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                 <a href="/detsils-for-salers-sales-history">Details</a>
            </div>
 

        </div>
 



 

        <div class="produce">
 
            <div class="userinfo">
                 <img src="/images/customer profile.jpg">
                 <p>Joshap</p>
            </div>
 

            <div class="productinfo">
                 <img src="/images/grains for cus.jpg">
                 <h1>Grains</h4>
                 <p>Rs.300</p>
                 <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                 <a href="/detsils-for-salers-sales-history">Details</a>
            </div>
 

        </div>
        
 
    </div>

</body>
</html>