<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgronomyNet - Indian Schemes</title>
    <link rel="website icon" type="png"  href="images/logofinal.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/schemes.css">
    <link rel="stylesheet" href="/nav.css">

</head>


<body>



    <%- include('./partials/nav.ejs') %>  
   
    <div class="schemes-container">


        <header>
            <h1 style="color: greenyellow; text-align: center; margin-bottom: 20px;">All India Agriculture Schemes</h1>
        </header>
    

            <div class="scheme">

                <div>
                    <img src="images/about-us flower img.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Pradhan Mantri Kisan Samman Nidhi (PM-KISAN)</h2>
                    <p>PM-KISAN provides direct income support of Rs. 6,000 per year to eligible farmer families, aimed at ensuring financial stability and security for farmers.This scheme provides crucial financial assistance to eligible farmer families, offering them much-needed support for their agricultural endeavors and livelihoods. It serves as a lifeline during challenging times, ensuring a steady source of income for farmers across the country.</p>
                    <a href="https://en.wikipedia.org/wiki/Pradhan_Mantri_Kisan_Samman_Nidhi" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>


            
            <div class="scheme">

                <div>
                    <img src="images/fh-h1.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>National Agriculture Market (eNAM)</h2>
                    <p>eNAM is an online platform for agricultural commodities trading that ensures fair prices for farmers, making agricultural markets more accessible and transparent. eNAM revolutionizes agricultural trade by offering farmers a transparent and accessible platform to sell their produce, ensuring fair market prices and reducing intermediaries. It fosters a competitive marketplace, empowering farmers to make informed decisions and expand their reach.</p>
                    <a href="https://en.wikipedia.org/wiki/E-NAM" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>



            
            <div class="scheme">

                <div>
                    <img src="images/fh-h2.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Pradhan Mantri Fasal Bima Yojana (PMFBY)</h2>
                    <p>PMFBY is a crop insurance scheme that protects farmers from crop loss due to natural calamities, providing them with financial security.PMFBY is a safety net for farmers, shielding them from the financial impact of crop losses due to natural disasters, safeguarding their incomes and food security. It fosters resilience in agriculture, allowing farmers to bounce back from adversity and sustain their livelihoods.</p>
                    <a href="https://en.wikipedia.org/wiki/Pradhan_Mantri_Fasal_Bima_Yojana" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>



            <div class="scheme">

                <div>
                    <img src="images/fh-h3.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Paramparagat Krishi Vikas Yojana (PKVY)</h2>
                    <p>PKVY promotes organic farming practices among farmers, aiming for sustainable and chemical-free agricultural production.PKVY encourages the adoption of eco-friendly organic farming practices, enhancing soil health and reducing the use of harmful chemicals. It promotes sustainable agriculture while protecting the environment and promoting healthier food production.</p>
                    <a href="https://dmsouthwest.delhi.gov.in/scheme/paramparagat-krishi-vikas-yojana/" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>




            <div class="scheme">

                <div>
                    <img src="images/fh-h4.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Rashtriya Krishi Vikas Yojana (RKVY)</h2>
                    <p>RKVY provides financial assistance for agriculture and allied activities to enhance agricultural productivity and livelihoods. RKVY's financial support empowers farmers to modernize their farming techniques, leading to increased agricultural productivity and rural development. It acts as a catalyst for innovation and progress in the agriculture sector.</p>
                    <a href="https://en.wikipedia.org/wiki/Remunerative_Approach_for_Agriculture_and_Allied_sector_Rejuvenation" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>



            
            <div class="scheme">

                <div>
                    <img src="images/fh-h5.jpeg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>National Mission on Oilseeds and Oil Palm (NMOOP)</h2>
                    <p>NMOOP aims to increase oilseed production in the country, promoting self-sufficiency in edible oil production. NMOOP aims to reduce India's dependence on oilseed imports by promoting domestic oilseed production, contributing to self-sufficiency. It strengthens the country's oilseed industry, ensuring a stable supply of edible oils.</p>
                    <a href="https://nmeo.dac.gov.in/" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>




            
            <div class="scheme">

                <div>
                    <img src="images/about-us greenhouse img.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>National Mission for Sustainable Agriculture (NMSA)</h2>
                    <p>NMSA promotes sustainable agriculture practices, including soil health management and water use efficiency. NMSA fosters environmentally friendly and sustainable agricultural practices, benefiting both farmers and the environment. It aligns agricultural growth with ecological conservation, paving the way for a greener and more resilient future.</p>
                    <a href="https://vikaspedia.in/agriculture/policies-and-schemes/crops-related/krishi-unnati-yojana/national-mission-for-sustainable-agriculture-1/national-mission-for-sustainable-agriculture" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>


            
            <div class="scheme">

                <div>
                    <img src="images/about-us horticulture img.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>National Food Security Mission (NFSM)</h2>
                    <p>NFSM aims to increase the production of rice, wheat, and pulses to enhance food security and availability.NFSM's focus on staple crops like rice, wheat, and pulses helps fortify India's food security, ensuring an ample supply of essential grains. It plays a pivotal role in stabilizing food prices and meeting the nutritional needs of the nation.</p>
                    <a href="https://dmsouthwest.delhi.gov.in/scheme/national-food-security-mission-nfsm/#:~:text=National%20Food%20Security%20Mission%20(NFSM)%20is%20a%20Centrally%20Sponsored%20Scheme,National%20Development%20Council%20(NDC)." onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>



            
            <div class="scheme">

                <div>
                    <img src="images/about-us img.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Pradhan Mantri Krishi Sinchayee Yojana (PMKSY)</h2>
                    <p>PMKSY promotes efficient water use in agriculture by focusing on irrigation and water management.PMKSY plays a vital role in conserving water resources and promoting efficient water use, ultimately bolstering agricultural productivity. It empowers farmers to make judicious use of water for irrigation, leading to sustainable farming practices.</p>
                    <a href="https://en.wikipedia.org/wiki/Pradhan_Mantri_Krishi_Sinchai_Yojana" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>




            
            <div class="scheme">

                <div>
                    <img src="images/loan home 2.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Kisan Credit Card (KCC)</h2>
                    <p>KCC provides short-term credit to farmers for agricultural expenses, making financing more accessible to farmers.KCC offers farmers quick and easy access to credit, enabling them to meet their immediate agricultural needs and invest in their farming operations. It provides financial flexibility and liquidity, enhancing the financial well-being of farmers.</p>
                    <a href="https://en.wikipedia.org/wiki/Kisan_Credit_Card" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>



            
            <div class="scheme">

                <div>
                    <img src="images/loan home 3.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Sub-Mission on Agriculture Mechanization</h2>
                    <p>This scheme promotes the use of farm machinery and equipment to improve agricultural productivity and efficiency.By facilitating the mechanization of farming processes, this scheme enhances agricultural efficiency and reduces the drudgery of manual labor. It modernizes Indian agriculture, making it more competitive on a global scale.</p>
                    <a href="https://www.drishtiias.com/daily-news-analysis/sub-mission-on-agricultural-mechanization-scheme#:~:text=The%20Ministry%20of%20Agriculture%20and,is%20100%25%20limited%20to%20Rs." onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>




            <div class="scheme">

                <div>
                    <img src="images/newsale.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>National Mission on Agricultural Extension and Technology (NMAET)</h2>
                    <p>NMAET focuses on improving agricultural extension services and technology adoption among farmers.NMAET strengthens agricultural extension services, disseminating knowledge and technology to farmers for improved yields. It acts as a bridge between research and farming, facilitating technology adoption at the grassroots level.</p>
                    <a href="https://vikaspedia.in/agriculture/policies-and-schemes/crops-related/krishi-unnati-yojana/national-mission-on-agricultural-extension-and-technology" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>



            
            <div class="scheme">

                <div>
                    <img src="images/loan home 5.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Mission for Integrated Development of Horticulture (MIDH)</h2>
                    <p>MIDH promotes horticultural development and diversification of agriculture for higher incomes.MIDH promotes diversified horticultural production, offering farmers a variety of income sources beyond traditional crops. It encourages the cultivation of fruits, vegetables, and spices, enhancing dietary diversity and incomes.</p>
                    <a href="https://www.midh.gov.in/" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>



            
            <div class="scheme">

                <div>
                    <img src="images/loan home.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Agriculture Infrastructure Fund</h2>
                    <p>The Agriculture Infrastructure Fund provides financial support for the development of agricultural infrastructure, improving productivity and market access.This fund supports the development of critical agricultural infrastructure, improving post-harvest management and marketing capabilities. It bridges the infrastructure gap in agriculture, boosting efficiency and reducing wastage.</p>
                    <a href="https://vikaspedia.in/schemesall/schemes-for-farmers/agriculture-infrastructure-fund" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>




            
            <div class="scheme">

                <div>
                    <img src="images/newsalehome.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>National Livestock Mission (NLM)</h2>
                    <p>NLM aims to enhance livestock productivity and livestock-based farming systems, benefiting livestock keepers.Aims to enhance livestock productivity and livestock-based farming systems. NLM plays a vital role in improving the livelihoods of livestock keepers and boosting the dairy and meat industries in India.</p>
                    <a href="https://vikaspedia.in/agriculture/policies-and-schemes/livestock-poultry-related/national-livestock-mission" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>




            
            <div class="scheme">

                <div>
                    <img src="images/newsalehomefinal.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Soil Health Card Scheme</h2>
                    <p>The Soil Health Card Scheme provides soil health cards to farmers to help them make informed decisions on crop management and soil health improvement.The scheme empowers farmers with information about their soil health, helping them make informed decisions on crop selection and soil improvement practices. It promotes soil conservation and sustainable land use.</p>
                    <a href="https://en.wikipedia.org/wiki/Soil_Health_Card_Scheme" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>




            
            <div class="scheme">

                <div>
                    <img src="images/plant science.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Interest Subvention Scheme for Short-Term Crop Loans</h2>
                    <p>The Interest Subvention Scheme provides interest rate subvention to farmers, reducing the cost of short-term crop loans. By reducing the cost of borrowing, this scheme provides financial relief to farmers, enabling them to access credit at lower interest rates. It eases the financial burden on farmers during crop cycles.</p>
                    <a href="https://taxguru.in/rbi/understanding-interest-subvention-scheme.html#:~:text=Interest%20subvention%20for%20short%20term,per%20cent%20rate%20of%20interest." onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>



            
            <div class="scheme">

                <div>
                    <img src="images/rose.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Electronic National Agriculture Market (eNAM)</h2>
                    <p>eNAM facilitates online trading of agricultural commodities, making markets more accessible and transparent for farmers. eNAM's online trading platform simplifies agricultural commodity transactions, streamlining the market for farmers and traders. It enhances price transparency and market access, benefitting both buyers and sellers.</p>
                    <a href="https://en.wikipedia.org/wiki/E-NAM" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>



            
            
            <div class="scheme">

                <div>
                    <img src="images/slider1.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>Pradhan Mantri Annadata Aay SanraksHan Abhiyan (PM-AASHA)</h2>
                    <p>PM-AASHA ensures remunerative prices to farmers for their produce, reducing income uncertainty.PM-AASHA ensures that farmers receive fair and remunerative prices for their produce, enhancing their income stability. It empowers farmers to make marketing decisions that maximize their returns.</p>
                    <a href="https://vikaspedia.in/agriculture/policies-and-schemes/crops-related/pradhan-mantri-annadata-aay-sanrakshan-abhiyan" onclick="openSchemePage(this)">Learn More</a>       
                </div>

               
            </div>




            
            <div class="scheme">

                <div>
                    <img src="images/slider2.jpg" alt="PM-KISAN">
                </div>


                <div style="padding: 20px; width: 75%;">
                    <h2>MSP Operations</h2>
                    <p>MSP Operations involve government procurement of agricultural produce at Minimum Support Prices, ensuring price stability for farmers.Through MSP operations, the government procures agricultural produce at predetermined minimum support prices, ensuring fair returns to farmers. It provides price support and market stability for key crops.</p>
                    <a href="https://vikaspedia.in/agriculture/market-information/minimum-support-price" onclick="openSchemePage(this)">Learn More</a>
                </div>

               
            </div>
            
           

    </div>
    

   
</body>
</html>


