*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-image: url('/images/signinpic.jpg');
    background-size: cover;
  
}

.user-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
}
  

.message-container {
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 5px;
    display: flex;
}

  
.user-message-container {
    background-color: #98FB98;
    text-align: justify;
    line-height: 23px;
    justify-content: flex-end;
    border-radius: 10px 10px 0 10px ;
    margin-bottom: 10px;
}
  
.bot-message-container {
    background-color: rgb(141, 134, 134);
    text-align: justify;
    line-height: 23px;
    justify-content: flex-start;
    border-radius: 10px 10px 10px 0;
    margin-bottom: 10px;
}

  
.message {
    text-align: justify;
    padding: 8px;
    line-height: 20px;
}
  

.chat-container {
    max-width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
   
}

  
.chat-display {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
}

  
.user-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

 
#user-input {
    width: 75%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #000;
    margin-right: 3px;
}

  
#send-btn {
    width: 100px;
    padding: 12px;
    border-radius:2px;
    background-color:rgb(0,100,0) ;
    border:none;
    color: greenyellow;
    font-weight: bold;
}


#send-btn:hover{
    background-color:rgb(206, 191, 191) ;
    border:none;
}


.chat-header {
    background-color: rgb(0,100,0);
    padding: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 100%;
}

.chat-header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 13px;
}


.chat-header h1{
    color: greenyellow;
    font-size: 25px;
    font-weight: bolder;
}

  
.chat-btn{
    width:80px;
    height:80px;
    cursor:pointer;
    overflow:hidden;
    position:fixed;
    bottom:10px;
    transform: translateX(-40px); 
    left: 20%;
}


.chat-btn img{
    width:100%;
    height: 100%;
    border-radius: 50%;
    position:absolute;
    top:0;
    left:0;
    transition: 0.4s ease-in-out;
}

.chat-btn:hover img{
    transform: rotate(30deg);
}


@media (max-width: 768px) {

    .chat-container {
        height: 900px;
    }

    #user-input::placeholder {
       font-size: larger;
       font-weight: bolder;
    }

    #user-input {
        width: 80%;
        padding: 14px;
        font-size: large;
        font-weight: bold;
    }

    #send-btn {
        font-weight: bolder;
        font-size: larger;
    }

    .user-message-container {
        margin-bottom: 20px;
    }
    
      
    .message {
        font-size: xx-large;
        font-weight: bold;
    }


    .chat-btn{
        left: 50%;
    }

  
}