*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(/images/signinpic.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h2 {
    color: rgb(0,100,0);
    font-size: 28px;
    margin-bottom: 10px;
}

.header p {
    color: #777;
    font-size: 16px;
}

.tab {
    display: flex;
    background-color: #f1f1f1;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}

.tab button {
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 16px;
    color: #555;
}

.tab button.active {
    background-color: rgb(0,100,0);
    color: #ffffff;
}

.tabcontent {
    display: none;
    padding: 20px;
}

.tabcontent.active {
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(0,100,0);
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.submit-btn:hover{
    background-color:#000000;
    opacity: 0.8;
    color: greenyellow;
    transition: 0.25s;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    text-decoration: none;
    color: greenyellow;
    font-size: 16px;
}

.error{
    color:rgb(0,100,0);
    font-size: small;
    font-weight: bold;
}