*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.salesbg{
    background-image: url(images/sbg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}



.salescont{
    margin-top: 20%;
    max-width: 600px;
}

.salescont h1{
    font-size: 50px;
    color: greenyellow;
    font-weight: bolder;
}

.salescont p{
    margin: 10px 0 30px;
    color: #fff;
    font-weight: bolder;
    animation-delay: 0.5s;
    line-height: 20px;
}

.saleinput{
    display: flex;
    flex-direction: row;
    animation-delay: 1s;
}

.saleinput input{
   margin-left: 10px;
   width: 300px;
   padding: 15px;
   border: 1px solid #ccc;
}

.saleinput input::placeholder{
    font-size: medium;
    color: #000;
    font-style: italic;
}

.saleinput input[type="search"]:focus {
    outline: none; 
    border-color: green; 
    box-shadow: 0 0 10px green; 
}

.saleinput button{
    width: 90px;
    padding: 10px;
    color: #fff;
    font-size: medium;
    font-weight: bolder;
    background:rgb(0,100,0);
    border: none;
}

.saleinput button:hover{
    opacity: 0.8;
    background-color: #000000;
    color: greenyellow;
}

.salebg2{
    width: 530px;
    position: absolute;
    left: 60%;
    top:40%;
    right: 10%;
    border-radius: 20px;
}

.salebg2.anim{
    animation-delay: 1.5s;
}


.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.productbox{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding: 30px;
    height: auto;
}

.produce:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.produce{
  width:300px;
  height:500px;
  background: #fff;
  box-sizing: border-box; 
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.userinfo{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
}

.userinfo img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 13px;
}

.userinfo p{
    color: #000000;
    font-size: larger;
    font-weight: bold;
    margin-top: 13px;
    text-transform: capitalize; 
}

.productinfo{
    display: flex;
    flex-direction: column;
}

.productinfo img{
    width:100%;
    height:300px;
    border-radius: 5px;
    box-sizing: border-box;
    object-fit: cover;
    border-color: 3px #999 solid;
}

.productinfo h1{
    text-transform: capitalize;
    color: rgb(0,100,0);
    font-weight: bolder;
    margin:5px;
}

.productinfo p{
   font-size: large;
   font-weight: bolder; 
   margin:5px;
}

.productinfo a{
    text-decoration: none;
    width: 100px;
    background: rgb(0,100,0);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

.productinfo a:hover{
    opacity: 0.8;
    background-color: #000000;
    color: greenyellow;
}

.detailscont{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.detailsimg{
    width:750px;
    height:500px;
    margin-top: 70px;
    top:20%;
    left: 10%;
}

.detailsimg img{
    width: 750px;
    height: 500px;
    object-fit: cover;
    box-sizing: border-box;
    border-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.producedetails{
    margin-left: 30px;
    margin-top:70px ;
    background-color:rgb(238, 232, 232);
    padding: 10px 20px;
    margin-bottom: 90px;
    height: auto;
}

.producedetails h1{
    font-size: 35px;
    color: rgb(0,100,0);
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.additionalinfo{
    display: flex;
    flex-direction: column;
}

.infoinrow{
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin-bottom: 10px;
}

.infoinrow .greenlet{
    color: rgb(0,100,0);
    font-size: larger;
    font-weight: bolder;
    line-height: 25px;
    width: 230px;
}

.infoinrow .userlet{
    color: #000;
    font-size: large;
    font-weight: bold;
    line-height: 25px;
}

.aboutinfo{
    margin-top: 10px;
}

.aboutinfo p{
    width: 500px;
    height: auto;
    line-height: 30px;
    font-size: large;
    font-weight: bolder;
    color: #000000;
    text-align: justify;
    margin-bottom: 10px;
}

.directinfo{
    margin-top: 10px;
}

.directinfo .userinfo{
    background-color: darkgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}

.directinfo a{
    align-items: center;
    margin: 10px;
    width: 150px;
    text-align: center;
    padding: 15px;
    color: #fff;
    background: rgb(0,100,0);
    font-size: larger;
    font-weight: bolder;
    border: none;
    margin-top: 30px;
    text-decoration: none;
}

.directinfo a:hover{
    opacity: 0.8;
    background-color: #000000;
    color: greenyellow;
}

.saletitile h1{
    color: rgb(0,100,0);
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.saletitile1 h1{
    color: rgb(0,100,0);
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.addtocart{
    background-color:rgb(238, 232, 232);
    margin: auto;
    width: 1000px;
    height: auto;
    padding: 20px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: none;
    opacity: 0;
    transition: opacity 3s ease; 
}

.cartimg{
    width: 900px;
    height: 400px;
    margin: auto;
    margin-bottom: 30px;
}

.cartimg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.addtocart h1{
    color: rgb(0,100,0);
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.cartuserinfo{
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    width: 900px;
}

.cartuserinfo label{
    font-size: large;
    font-weight: bolder;
    width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cartuserinfo input{
    width: 550px;
    padding: 13px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.cartuserinfo input:focus{
    outline: none; 
    border-color: green; 
    box-shadow: 0 0 4px green; 
}

.addtocart button{
    align-items: center;
    margin: 10px;
    width: 150px;
    text-align: center;
    padding: 15px;
    color: #fff;
    background: rgb(0,100,0);
    font-size: larger;
    font-weight: bolder;
    border: none;
    margin-top: 20px;
}

.addtocart button:hover{
    opacity: 0.8;
    background-color: #000000;
    color: greenyellow;
}

.addtocart:target{
    display:block;
    opacity: 1;
}

.produce-info-form {
    max-width: 700px;
    margin: 0 auto;
    background-color:rgb(238, 232, 232);
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.produce-info-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: large;
}

.produce-info-form input[type="text"],
.produce-info-form input[type="number"],
.produce-info-form textarea,
.produce-info-form select {
    width: 90%;
    padding: 13px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.produce-info-form input[type="file"] {
    margin-bottom: 15px;
}

.produce-info-form input:focus,
.produce-info-form textarea:focus,
.produce-info-form select:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 2px green;
}

.produce-info-form .cartuserinfo input[type="text"] {
    width: 550px;
}

.produce-info-form .cartuserinfo textarea {
    width: 550px;
}

.produce-info-form .cartuserinfo label {
    display: inline-block;
    width: 250px;
}

.produce-info-form .cartuserinfo img {
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.produce-info-form a{
    align-items: center;
    margin: 10px;
    width: 150px;
    text-align: center;
    padding: 15px;
    color: #fff;
    background: rgb(0,100,0);
    font-size: larger;
    font-weight: bolder;
    border: none;
    margin-top: 30px;
    text-decoration: none;
    float: right;
    border-radius: 6px;
}

.produce-info-form a:hover {
    opacity: 0.8;
    background-color: #000000;
    color: greenyellow;
}

.agriculture-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.agriculture-card {
    background: linear-gradient(45deg, rgb(0, 100, 0), #82B443);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    color: #fff;
    text-align: center;
    animation: fadeInScale 1s both;
}

.agriculture-card h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: greenyellow;
    font-weight: bolder;
}

.agriculture-card p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
}

.agriculture-icon {
    font-size: 48px;
    margin-bottom: 20px;
}

.agriculture-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(0, 100, 0), #82B443);
    opacity: 0.9;
    border-radius: 20px;
    z-index: -1;
}

@keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

.user-info-container {
    max-width: 500px;
    margin: 50px auto;
    background:rgb(0,100,0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: none;
    opacity: 0;
    transition: opacity 3s ease; 
}

.user-info-item {
    margin-bottom: 25px;
}

.user-info-item:last-child {
    margin-bottom: 0;
}

.user-info-label {
    font-weight: bolder;
    font-size: large;
    color:greenyellow;
}

.user-info-value {
    margin-top: 8px;
}

.user-info-value span {
    font-weight: bold;
    color: #ffffff;
}

.user-info-value .user-answer {
    font-weight: bold;
    color: #ffffff;
}

.user-info-value .user-id {
    color: #ff9800;
}

.user-info-container:target{
    opacity: 1;
    display: block;
}

.user-info-container h1{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.greenmarketh1{
    font-weight: bolder;
    text-align: center;
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 70px;
}
   
  
.container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
.container-row .container {
    background: linear-gradient(45deg, rgb(0, 100, 0), #6b9c2f);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Add transition for background color */
}
  
.container-row .full-width {
    width: 100%;
}
  
.container-row .container:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
    background-color: #006400;
}
  
.container-row .container:hover h2 {
    font-size: 28px; 
    margin-bottom: 15px; 
    color:greenyellow; 
}
  
.container-row .container:hover p {
    font-size: 18px; 
    color: #ffffff; 
}
  
.container-row .container a.button{
    text-decoration: none;
    color: #fff;
    background: rgb(0,100,0);
    font-size: larger;
    font-weight: bolder;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
  
.container-row .container:hover .button {
    opacity: 0.8;
    background-color: #000000;
    color: greenyellow;
}
  
.container-row .icon {
    font-size: 50px;
    margin-bottom: 10px;
}
  
.container-row .icon i {
    color: #f9f9f9; 
}
  
.container-row h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #f9f9f9; 
}
  
.container-row p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #f0f0f0; 
}


.accountinfo{
    width: 100%;
    min-height: 100vh;
    background-color:  rgb(0,100,0);
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(images/fh-h1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}


.accountinfo .accntcont{
    background: #fff;
    width: 500px;
    height: 90vh;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.accntprofile{
    height:190px;
    width:100%;
    display: flex;
    flex-direction:column;
}

.accntprofile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.accntprofile p{
    font-size: xx-large;
    font-weight: bolder;
    color:rgb(0, 100, 0);
    text-align: center;
    margin: 10px auto;
}

.accntdetails{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}

.accntdetailsrow{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.accntdetailsrow h4{
    font-size: large;
    font-weight: bold;
    color: #000;
    align-items: flex-start;
    width: 240px;
}

.accntdetailsrow p{
    font-size:medium;
    font-weight: bold;
    width: 170px;
}

.accntbtns a{
    align-items: center;
    width: 150px;
    text-align: center;
    padding: 15px;
    color: #fff;
    background: rgb(0,100,0);
    font-size: larger;
    font-weight: bolder;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin:10px;
}

.accntbtns a:hover{
    opacity: 0.8;
    background-color: #000000;
    color: greenyellow;
}


.unique-heading {
    font-family: 'Helvetica', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    background-color: #2c3e50; 
    padding: 15px 20px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    transition: background-color 0.3s ease-in-out;
  }

  .unique-heading:hover {
    background-color: #3498db; 
  }